.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;

        @media screen and (max-width: 1199px) {
                text-align: center;
    }

    &__address {
        margin-top: 20px;
    }
    &__container {
        @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
            }
        
        }
        @media screen and (min-width: 1200px) {
            justify-content: flex-start;            
        }
            
    

    &__contact {
        @media screen and (max-width: 1199px) {
            text-align: center;
            
        }
         @media screen and (min-width: 768px) {
            margin-right: 165px;
            margin-left: 61px;
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
            margin-left: 0;
            margin-bottom: 0;
        }
        }

    &__subscribe {
        @media screen and (max-width: 1199px) {
                width: 100%;
        }
    }

}

.footer__logo {

    font-style: normal;
    color: var(--text-on-background);

    &:hover,
    &:focus {
            color: var(--text-on-background);
        }
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    &__item:not(:last-child) {
            margin-bottom: 8px;
        }
}

.address__link {
    font-style: normal;
    color: rgb(255, 255, 255, 0.6);

    transition: color var(--animation);

    &--white {
            color: var(--text-on-background);
        }

    &:hover,
    &:focus {
        color: var(--accent-color);
}
}



.footer__follow {
    @media screen and (min-width: 1200px) {
            margin-right: 93px;
    }
}

.footer__title {
    margin-top: 60px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (max-width: 1199px) {
            text-align: center;
    
        }
    @media screen and (min-width: 768px) {
            margin-top: 0;
        }    

    @media screen and (min-width: 1200px) {
            padding-top: 12px;
        }
}

.socialmedia-list__link--on-bckgr {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);

    transition: color var(--animation), background-color var(--animation);

    &:hover,
    &:focus {
            color: #ffffff;
            background-color: var(--accent-color);
        }
}

