// .header {
//     position: relative;
//     @media screen and (max-width: 767px) {
//         display: flex;
//         justify-content: center;
//         height: 60px;
//     }
// }

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}
.mobile-menu {
  display: none;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    padding: 48px 40px;
  }

  &__burger-close-btn{
    position: absolute;
    top: 0px;
    right: 15px;

    padding-bottom: 0;
  }
}

.menu-container {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: inherit;
  }
}

.burger-btn {
  display: inline-flex;

  margin-left: auto;
  padding: 10px 0;

  border: none;
  background-color: transparent;

  transition: fill var(--animation);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }

  //   &__icon-close {
  //     opacity: 0;
  //   }

  //   &.is-open &__icon-close {
  //     opacity: 1;
  //   }

  //   &.is-open &__icon-menu {
  //     opacity: 0;
  //   }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-menu__list {
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: 50px;
    display: flex;
  }
}

.nav-menu__item {
  position: relative;

  @media screen and (max-width: 767px) {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
    
  }
}

.nav-menu__link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--animation);

  &--current {
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
        font-size: 14px;
        line-height: 1.15;

    &--current::before {
            position: absolute;
            bottom: 0;
            left: 0;
    
            content: '';
            display: inline-block;
            width: 100%;
            height: 4px;
    
            background: var(--accent-color);
            border-radius: 2px;
        }
  }
}

.contacts {
    @media screen and (max-width: 767px) {
    margin: 0;
    }
}

.nav-contact {
  align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 21px;
    }

@media screen and (max-width: 767px) {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;

}

  &__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
  }
  
  &--right {
    margin-left: auto;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

  &__wrapper--center {
    align-items: center;
  }

  &__icon {
        fill: currentColor;
        @media screen and (max-width: 767px ){
            display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
    display: flex;
  }
}

.nav-contact__link {
  display: block;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: currentColor;

  transition: color var(--animation);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

   @media screen and (min-width: 480px) {
        font-size: 34px;
   }
   @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.15;
   }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.email-mob-menu {
    font-size: 24px;
        line-height: 1.17px;
}

.burger-social {
    display: flex;
    flex-wrap: wrap ;
    padding-top: 64px;

    &__link { 
        padding-right: 10px;

  font-family: 'Roboto';
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
        }

    &__item:not(:first-child){
            padding-left: 10px;
            border-left: 1px solid rgba(33, 33, 33, 0.2);
        }
 
    
}