.btn {
    border: none;
    border-radius: 4px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--text-on-background);
    background-color: var(--accent-color);

    cursor: pointer;

    transition: background-color var(--animation) filter var(--animation);


    &:hover,
    &:focus {
            background-color: #188ce8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

