.logo {
  color: #000000;
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

  @media screen and (min-width: 1200px){
      font-size: 26px;
      line-height: 1.19;
  }
  

  &:hover,
  &:focus {
    color: #000000;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
    color: var(--accent-color);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
  }
}
