.modal{
    text-align: center;
    &__title {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
    
            color: var(--title-text-color);
        }

    &__container {
            padding-top: 12px;
        }

    &__form-label {
            position: relative;
            display: flex;
            flex-direction: column;

            margin-bottom: 10px;
            }
    &__label-text {
            margin-bottom: 4px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            text-align: left;
    
            color: var(--main-text-color);
        }
    }


.modal__form-field {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
        
    transition: border-color var(--animation);

    &:focus {
        border-color: var(--accent-color);
        outline: transparent;
    }
    &:invalid:not(:placeholder-shown) {
        border: 1px solid red;
        }
}

.modal__field-comment {
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--animation);
    padding: 12px 16px;
    resize: none;


    &::placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transition: fill var(--animation);

    .modal__form-field:focus+&{
        fill: var(--accent-color);
    }
}

.modal__checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    @media screen and (min-width: 1200px) {
            padding-left: 12px;
    }
}

.checkbox__custom {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 6px;

    border: 2px solid #212121;
    border-radius: 2px;
    @media screen and (min-width: 1200px) {
            margin-right: 9px;
    }

    .checkbox__standart:checked+& {
            display: inline-block;
            width: 16px;
            height: 15px;
            margin-right: 9px;
    
            border: 2px solid var(--accent-color);
            border-radius: 2px;
            background-color: var(--accent-color);
        }

}

.checkbox__icon {
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
}


.checkbox__standart:checked+.checkbox__custom .checkbox__icon {
    opacity: 1;
    fill: var(--text-on-background);
}

.checkbox__agreement {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--main-text-color);

    @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
    }
}

.checkbox__link {
    color: var(--accent-color);
}

.modal__btn-send-form {
    margin-top: 30px;
    padding: 10px 55px 10px 56px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}